* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #20100E;
    color: white;
}

header{
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 5%;
    background: rgba(50,50,50,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.logo{
    color: #B7622C;
    cursor: pointer;
}

.navbar a{
    text-decoration: none;
    color: #5F605B;
}

.navbar a:hover{
    color: #B7622C;
}

.menu{
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.nav-icons{
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-icons a i{
    font-size: 18px;
}

.menu a{
    font-size: 18px;
}

.menu {
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
}

.menu a:hover ,
.nav-icons a:hover {
    color: #B7622C;
}

.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1503376780353-7e6692767b70') center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), #20100E);
}

.hero-content {
    position: relative;
    text-align: center;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 5%;
    gap: 50px;
}

.about-image img {
    width: 300px;
    max-width: 60%;
}

.paragraph1 {
    max-width: 600px;
    margin: 120px 0 80px 8%;
    padding: 0;
    text-align: left;
}

.tit {
    color: white;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 60px;
    letter-spacing: 2px;
}

.hero p {
    margin: 15px 0;
    color: #5F605B;
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: #923B1B;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.but{
    color: #fff;
}

.hero button:hover {
    background: #B7622C;
}

.features {
    padding: 100px 5%;
    text-align: center;
}

.section-title {
    font-size: 40px;
    margin-bottom: 50px;
    color: white;
}

.features-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.feature-card {
    background: #2a1a17;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
}

    .feature-card i {
        font-size: 40px;
        color: #ff6600;
        margin-bottom: 15px;
    }

    .feature-card h3 {
        margin-bottom: 10px;
    }

    .feature-card p {
        color: #aaa;
        line-height: 1.6;
    }

    .feature-card:hover {
        background: #3a201c;
    }

.info {
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.text {
    max-width: 500px;
}

.text h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.text p {
    color: #5F605B;
    line-height: 1.6;
}

.text button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #5E3123;
    border: none;
    color: white;
    cursor: pointer;
}

.stats {
    display: flex;
    gap: 40px;
}

.stats div {
    text-align: center;
}

.stats h3 {
    font-size: 30px;
    color: #B7622C;
}

.footer {
    background: #323232;
    padding: 50px;
    /* margin-top: 100px; */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-logo h2 {
    color: #B7622C;
}

.footer-logo p {
    color: #5F605B;
    margin-top: 10px;
}

.footer-links h3,
.footer-social h3 {
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #5F605B;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: #B7622C;
}

.icons a {
    margin-right: 15px;
    font-size: 18px;
    color: #5F605B;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5F605B;
    border-radius: 50%;
    transition: 0.3s;
}

.icons a:hover {
    color: #fff;
    background: #B7622C;
    border-color: #B7622C;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    color: #5F605B;
    border-top: 1px solid #5F605B;
    padding-top: 20px;
}


.light-mode {
    background-color: white;
    color:#20100E;
}
.light-mode .navbar a {
    color: white;
}


.light-mode nav ul li a {
    color: white;
}


.light-mode .footer {
    background: #f1f1f1;
}

.light-mode .footer-logo p,
.light-mode .footer-links a,
.light-mode .footer-bottom {
    color: #555;
}

.light-mode .overlay {
    background: linear-gradient(to right, rgba(255,255,255,0.2), #ffffff);
}

.light-mode .hero h1 {
    color: #B7622C;
}

.light-mode .hero p {
    color: #666;
}

.light-mode .hero button {
    background: #B7622C;
    color: #fff;
}

.light-mode .hero button:hover {
    background: #923B1B;
}

.light-mode .text h2 {
    color: #111;
}

.light-mode .text p {
    color: #666;
}

.light-mode .text button {
    background: #B7622C;
    color: #fff;
}

.light-mode .stats h3 {
    color: #B7622C;
}

.light-mode .stats p {
    color: #666;
}
.light-mode .about-section {
    background: #f9f9f9;
}

.light-mode .tit {
    color: #111;
}

.light-mode .paragraph1 p,
.light-mode .paragraph p {
    color: #555;
}

.light-mode .about-image img {
    filter: none;
}
    .light-mode .features {
        background: #f9f9f9;
    }

    .light-mode .section-title {
        color: #111;
    }

    .light-mode .feature-card {
        background: #ffffff;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

        .light-mode .feature-card h3 {
            color: #111;
        }

        .light-mode .feature-card p {
            color: #555;
        }

        .light-mode .feature-card i {
            color: #B7622C;
        }
.account-box {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 300px;
    padding: 20px;
    background: rgba(0,0,0,0.9);
    border-radius: 10px;
    z-index: 20000;
    border: 1px solid #ff7a2f;
}

.account-box h3 {
    margin-bottom: 15px;
}

.account-box p {
    margin: 8px 0;
    color: #ccc;
}

.account-box button {
    width: 100%;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 14px;
    background: linear-gradient(90deg,#923B1B,#ff7a2f);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 15px rgba(255,122,47,.5);
}
.hidden{
    display: none;
}
.search-area{
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-area input{
    width: 120px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: white;
    font-size: 13px;
}

.search-area input::placeholder{
    color: #bbb;
}
.choose-section{
    position:relative;
    width:100%;
    margin-top:80px;
}

.choose-image{
    width:100%;
    display:block;
}

.choose-text{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    color:white;
    padding-top:120px;
}

.choose-text h2{
    font-size:50px;
    letter-spacing:5px;
}

.choose-text p{
    margin-top:20px;
    font-size:22px;
}

.choose-links{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
}

.choose-links div{
    width:33.3%;
    height:100%;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    padding-bottom:60px;
}

.choose-links h3{
    font-size:38px;
    margin-bottom:10px;
}

.choose-links span{
    font-size:18px;
}
.overlayy{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
     background: linear-gradient(to bottom, rgba(0,0,0,0.7), #20100E);
}